body {
   background-color: white;
   position: relative;
}

.add {
   height: 600px;
}

.find_box {
   margin-left: auto;
   margin-right: auto;
   border: 1px solid black;
   height: 686px;
   max-width: 800px;
   position: relative;
   top: 100px;
    
    position: relative;
    padding: 14px 0;
      border-radius: 7px;
  box-shadow: 2px 2px 5px;
   background-color: rgb(250, 250, 250);
}

.find_box h3 {
   position: relative;
   left: 13%;
   top: 20px;
}

.find_box form {
   border-top: 1px solid black;
   height: 340px;
   width: 800px;
   font-size: 20px;
   margin-top: 40px;
   padding: 5px 12px;
   margin-left: auto;
   margin-right: auto;
}

form span {
   position: relative;
   top: 13px;
   left: 10%;
}

form span:last-child {
   position: relative;
   top: 23px;
   left: 114px;
}

form input[type="insert"] {
   border: 1px solid black;
}

form input[type="button"] {
   color: black;
   transition: 0.3s;
   border: 1px solid black;
   border-radius: 0px;

   padding: 8px 30px;
   width: 19%;
   height: 15%;
   background-color: black;
   color: white;
}

form input[type="button"]:hover {
  background-color: rgb(43, 86, 226);
}

form input[type="text"] {
   background-color: rgb(255, 255, 255);
   padding: 8px 30px;
   color: black;
   border: 2px solid steelblue;
   transition: 0.3s;
   border-radius: 5px;
   margin-top: 26px;
   margin-left: 15%;
   width: 50%;
   height: 15%;
   width: 50%;
}

form input#emailCode {
   width: 70%;
}

form input[type="text"]:hover {
   color: white;
}

.emailCheck span {
   font-size: 15px;
   font-family: "Mulish", sans-serif;
   color: #3d3d3d;
   font-weight: 400;
   line-height: 25px;
   margin: 0 0 15 px 0;
   position: relative;
   bottom: 80 px;
   left: 50 px;
}

#setPasswordBox {
   height: 300px;
   width: 767px;
   margin-top: 61px;
}

#setPasswordBox #text {
   position: relative;
   left: 50px
}

#setPasswordBox input[type="password"] {
   background-color: rgb(255, 255, 255);
   padding: 8px 30px;
   color: black;
   border: 2px solid steelblue;
   transition: 0.3s;
   border-radius: 5px;
   margin-top: 25px;
   margin-left: 15%;
   height: 15%;
   width: 62%;
}

#setPasswordBox button {
   color: black;
   transition: 0.3s;
   border: 1px solid black;
   border-radius: 0px;
   padding: 8px 30px;
   width: 19%;
   height: 15%;
   position: relative;
   left: 81%;
   top: 15px;
   
  background-color: rgb(0, 0, 0);
      color: white;
         border-radius: 5px;
}

#setPasswordBox button:hover {
   background-color: steelblue;
}

#setPasswordBox span:last-child {
   position: relative;
   top: 23px;
   left: 315px;
}

p#newPasswordCheck, p#newPasswordReCheck {
   position: relative;
   top: 10px;
   left: 27.5%;
}

span.reset_pw {
   position: relative;
   top: 30px;
   left: 15%;
}

span.reset_pw_check {
   position: relative;
   top: 30px;
   left: 14%;
}

input#password, input#check {
   width: 43%;
   height: 13%;
}

input#password {
   margin-top: 40px;
   position: relative;
   top: 30px;
   left: 20%;
}

input#check {
   margin-top: 20px;
   position: relative;
   top: 30px;
   left: 19.5%;
}

input.shift_pw {
   color: black;
   transition: 0.3s;
   border: 1px solid black;
   padding: 8px 30px;
   width: 19%;
   height: 15%;
   background-color: black;
   color: white;
   position: relative;
   left: 66.5%;
   top: 30px;
   
   
}

input.shift_pw:hover {
 background-color: rgb(43, 86, 226);
}



 .input_password {
   width: 434px;
   height: 60px;
   padding: 5px 14px;
   outline: none;
   border: 1px solid black;
   margin-bottom: 20px;
}

.input_password:focus {
   border: 2px solid blue;
   padding: 5px 13px;
   height: 60px;
}

