body{
   
   background-color: white;
      position: relative;
   
}

.Remove_list {
  margin: 0 auto;
  box-sizing: border-box;
  text-align: center;
  align-items: center;
  border: 0px solid black;
  height: 500px;
  max-width: 900px;
  position: relative;
top: 120px;
  padding: 40px 0;
  
  
     box-shadow: 2px 2px 5px;
   border-radius: 7px;
}





.Remove_list h2 {
  font-weight: bold;
}
.Remove_list div {
  display: flex;
  justify-content: center;
  list-style: none;
  align-items: center;
  width: 90%;

  margin: auto;
  margin-top: 80px;
}

.Remove_list div ul {
  display: flex;
  justify-content: center;
  list-style: none;
  align-items: center;
  background-color: rgb(223, 223, 223);
  width: 770px;
  height: 170px;
}

.Remove_list div ul li:nth-child(1) {
  margin-left: -40px;
}

.Remove_list div ul li input[type="password"] {
  width: 400px;
  height: 50px;
  padding: 5px 12px;
  outline: none;
  border: 1px solid black;
  margin: 0px 40px 0px 20px;
}

.Remove_list div ul li input[type="password"]:focus {
  border: 2px solid blue;
  padding: 5px 11px;
  height: 50px;
}

.Remove_list button {
  background-color: white;
  padding: 10px 20px;
  color: black;
  border: 2px solid steelblue;
  transition: 0.3s;
  border-radius: 5px;
  position: relative;
  box-sizing: border-box;
 
}
.Remove_list button:hover {
    background-color: cadetblue;
  color: white;
  border: none;
    padding: 10px 20px;
 border: 2px solid steelblue;
    border-radius: 5px;
}
/* .btn {
  font-size: 15px;
  padding: 5px 10px;
  border: 3px solid rgb(85, 74, 74);
  background-color: transparent;
  color: rgb(7, 7, 7);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.btn:focus {
  outline: none;
}

.btn::before {
  content: "";
  position: absolute;
  height: 150%;
  width: 150%;
  background-color: rgb(0, 0, 0);
  top: 100%;
  left: 0;
  transition: all 0.4s;
  z-index: -1;
}

.btn:hover:before {
  transform: translateY(-100%);
}
.btn:hover {
  color: #ffffff;
} */